body {
    margin: 0;
}

.floating {
    touch-action: manipulation;
    width: 100%;
    height: 3em;
    margin: 1px;
}

#loading-controls {
    margin: 15px;
}

#mark-size-block {
    margin: 15px;
}

#image-working-area {
    display: none;
}

#floating-block {
    position: fixed;
    width: 105px;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
}

#total {
    background: #ffffff82;
    padding: 5px;
    margin-bottom: 0;
    font-size: large;
}
